@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-transform: uppercase;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
:root {
  --bg-color: #90a9b7;
  --primary-color: white;
}
body {
  background-color: var(--bg-color);
  font-family: "Montserrat", sans-serif;
}
button {
  background-color: black;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 3px;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
}
.titleSec {
  margin: 0px 20px;
  text-align: center;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.84);
  transition: 0.5s;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleMain {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1.2px solid rgba(0, 0, 0, 0.797);
}
.titleMain p {
  padding: 12px;
  color: black;
  letter-spacing: 2px;
}
.name {
  width: 100%;
  padding: 10px 0px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: black;
  display: flex;
  justify-content: space-between;
}
#quizStart {
  background-color: white;
  padding: 20px;
  display: flex;
  width: 35%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 6px;
  margin-top: 10vh;
}
#title {
  margin: 10px;
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  letter-spacing: 2px;
  border-bottom: 2px solid black;
}
#description {
  margin: 10px;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 1.5px;
}
li {
  list-style-type: none;
  padding: 3px;
  text-align: center;
  font-size: 12px;
}
#startBtn {
  margin: 10px;
}
#rules {
  font-size: 12px;
  font-weight: bolder;
  color: white;
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
  margin: 10px 0px;
}
#questionSec {
  width: 100%;
  padding: 10px;
}
#cancelQuiz {
  float: right;
  font-size: 12px;
  padding: 5px;
  margin: 0px;
  background-color: white;
  color: black;
}
.material-symbols-outlined {
  font-size: 30px;
}
#cancelQuiz:hover {
  color: red;
  transition: 0.5s;
}
#rules p {
  padding: 5px 10px;
  display: inline;
  border-radius: 2px;
  background-color: black;
}
#questionName {
  padding: 20px 10px;
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 0.8px;
  word-spacing: 1.5px;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}
#quesNo {
  margin: 5px 0px;
  font-size: 9.5px;
  letter-spacing: 1.5px;
  text-align: center;
  background-color: black;
  color: white;
  display: inline;
  padding: 5px;
  float: left;
}
#quizShow,
#resultShow {
  display: none;
  background-color: white;
  width: 65%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 8px;
  margin-top: 2vh;
  font-family: "Poppins", sans-serif;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  padding: 10px;
}
.op {
  padding: 15px;
  text-align: center;
  border: 1px solid black;
  margin: 10px;
  color: black;
  font-weight: 600;
  border-radius: 4px;
  font-size: 12px;
  letter-spacing: 1.2px;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .op:hover {
  background-color: black;
  color: white;
  transition: 0.4s;
} */
.noHover {
  pointer-events: none;
}
.selected {
  background-color: black;
  color: white;
}
#op1 {
  grid-area: 1 / 1 / 2 / 2;
}
#op2 {
  grid-area: 1 / 2 / 2 / 3;
}
#op3 {
  grid-area: 2 / 1 / 3 / 2;
}
#op4 {
  grid-area: 2 / 2 / 3 / 3;
}
.buttons {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.buttons button {
  width: 20%;
}
.navBtn {
  background-color: white;
  color: black;
}
.navBtn:hover {
  background-color: white;
  color: rgba(0, 0, 0, 0.833);
}
.correct {
  background-color: green;
  color: white;
  border: 1.2px solid green;
}
.incorrect {
  background-color: red;
  color: white;
  border: 1.2px solid red;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  padding: 14px;
}
.footer {
  font-size: 12px;
  letter-spacing: 1.5px;
  font-weight: bolder;
  width: 100%;
  text-align: center;
}
.footer a {
  text-decoration: none;
  color: black;
}
.scoreUpdate {
  padding: 10px;
}
.addScore,
.removeScore,
.sampleText {
  display: none;
  font-size: 10px;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 2px;
}
.sampleText {
  display: block;
  color: rgba(0, 0, 0, 0.74);
  font-weight: bolder;
}
.removeScore {
  color: red;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
#score {
  transition: 0.8;
}
.addScore {
  color: rgb(1, 97, 1);
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
h3 {
  text-align: center;
  letter-spacing: 1.5px;
  padding: 10px;
  margin: 10px 5px;
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: white;
  font-size: 16px;
}
.textView {
  border: 1.5px solid black;
  padding: 5px;
  font-size: 13px;
  letter-spacing: 1.5px;
  margin: 10px;
}
.textView {
  color: white;
  border-radius: 4px;
  background-color: black;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.textView p {
  padding: 2px;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 600px) {
  .titleMain {
    font-size: 18px;
  }
  .name {
    font-size: 12px;
  }
  .titleSec {
    padding: 0px;
    margin: 5px 10px;
  }
  #quizStart {
    margin-top: 13vh;
    width: 90%;
  }
  .material-symbols-outlined {
    font-size: 22px;
  }
  #title {
    font-size: 15px;
  }
  #rules {
    font-size: 10px;
  }
  li {
    font-size: 10px;
  }
  #startBtn {
    font-size: 15px;
  }
  #quizShow,
  #resultShow {
    width: 90%;
    margin-top: 2vh;
    padding: 10px;
  }
  #quesNo {
    font-size: 8px;
  }
  .options {
    padding: 4px;
  }
  #questionName {
    text-transform: capitalize;
    letter-spacing: 1.5px;
    word-spacing: 1.5px;
    font-size: 14px;
    padding: 10px;
    height: 20vh;
    display: flex;
    align-items: center;
  }
  .op {
    padding: 5px;
    height: 8vh;
    font-size: 10px;
  }
  #sampleText {
    font-size: 8.5px;
  }
  .buttons {
    justify-content: space-between;
  }
  #Submit {
    width: 50%;
    font-size: 12px;
  }
  .footer {
    font-size: 10px;
  }
  #resultShow #questionName {
    height: auto;
  }
  h3 {
    font-size: 12px;
  }
}
